
CONDOR_DEVELOPERS_COLLECTOR = NONE
CONDOR_DEVELOPERS = NONE

HOSTALLOW_WRITE = *
HOSTALLOW_READ = $(HOSTALLOW_WRITE)

ALLOW_WRITE = *

ALLOW_ADVERTISE_MASTER = $(ALLOW_WRITE)
ALLOW_ADVERTISE_STARTD = $(ALLOW_WRITE)

SLOT_TYPE_1_PARTITIONABLE=TRUE
NUM_SLOTS_TYPE_1 = 1
NUM_SLOTS = 1

START = True
SUSPEND = False
CONTINUE = True

SLOT_TYPE_1 = cpus=100%, memory=90%
NUM_CPUS=$(DETECTED_CORES)
CONDOR_HOST=${collectorHost}
FILESYSTEM_DOMAIN=${collectorHost}
DAEMON_LIST=MASTER, STARTD

GLIDEIN_START_TIME = "${glideinStartTime}"
JLRM_USER = "${jlrmUser}"                   

IS_GLIDEIN = True                    
STARTD_ATTRS = IS_GLIDEIN,START,DaemonStopTime,GLIDEIN_START_TIME,JLRM_USER

PREEMPT = (CurrentTime - JobStart) > (2 * $(HOUR) - 5 * $(MINUTE))
WANT_VACATE = FALSE

