
CONDOR_DEVELOPERS_COLLECTOR = NONE
CONDOR_DEVELOPERS = NONE

HOSTALLOW_WRITE = *
HOSTALLOW_READ = $(HOSTALLOW_WRITE)

ALLOW_WRITE = *

ALLOW_ADVERTISE_MASTER = $(ALLOW_WRITE)
ALLOW_ADVERTISE_STARTD = $(ALLOW_WRITE)

SLOT_TYPE_1_PARTITIONABLE=TRUE
NUM_SLOTS_TYPE_1 = 1
NUM_SLOTS = 1

START = True
SUSPEND = False
CONTINUE = True

SLOT_TYPE_1 = cpus=100%, memory=90%
NUM_CPUS=${numberOfProcessors}
CONDOR_HOST=${collectorHost}
FILESYSTEM_DOMAIN=${collectorHost}
DAEMON_LIST=MASTER, STARTD

GLIDEIN_START_TIME = "${glideinStartTime}"
JLRM_SITE_NAME = "${jlrmSiteName}"
JLRM_USER = "${jlrmUser}"

USE_CCB="True"          
CCB_ADDRESS=$(COLLECTOR_HOST)
PRIVATE_NETWORK_NAME = $(FULL_HOSTNAME)
STARTER_TIMEOUT_MULTIPLIER=5

IS_GLIDEIN = True                    
STARTD_ATTRS = IS_GLIDEIN,START,DaemonStopTime,GLIDEIN_START_TIME,JLRM_USER,JLRM_SITE_NAME
#STARTD_NOCLAIM_SHUTDOWN=14400

PREEMPT = FALSE
WANT_VACATE = FALSE

